In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [3]:
frame = pd.read_csv("C:\\Users\\huber_15ivafg\\Documents\\Pandas kurs materia≈Çy\\course-files\\Mcdonalds.csv", usecols=["Item", "Category","Calories","TotalFat","Sugars","Protein","Cholesterol"])

In [4]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [5]:
frame.TotalFat.head()

0    13.0
1     8.0
2    23.0
3    28.0
4    23.0
Name: TotalFat, dtype: float64

In [8]:
frame['totalFat0'] = 0

In [9]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,totalFat0
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0

In [10]:
SugarAndFat = frame.Sugars + frame.TotalFat

In [11]:
frame['SugarAndFat'] = SugarAndFat

In [12]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,totalFat0,SugarAndFat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,25.0

In [13]:
frame['SugarAndProtein'] = frame.Sugars + frame.Protein

In [14]:
frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,totalFat0,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,0,16.0,20
1,Breakfast,Egg White Delight,250,8.0,25,3,18,0,11.0,21
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,0,25.0,16
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,0,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,25.0,23

In [15]:
frame.insert(loc=2, column='SPFn', value=frame.Sugars + frame.Protein+frame.TotalFat)

In [16]:
frame.head()

,Category,Item,SPFn,Calories,TotalFat,Cholesterol,Sugars,Protein,totalFat0,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,16.0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,11.0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,25.0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,25.0,23

In [17]:
del frame["SugarAndFat"]

In [18]:
frame.head()

,Category,Item,SPFn,Calories,TotalFat,Cholesterol,Sugars,Protein,totalFat0,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,0,23